<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Pisq", suffix: " · Pisq" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- CAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
          document.getElementById("creation-form").submit();
        }
    </script>
  </head>
  <body>
    <nav class="navbar is-warning">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <h1 class="title">Pisq</h1>
        </a>
      </div>
    </nav>
    <div class="container">
      <%= @inner_content %>
    </div>
    <div class="container">
      <footer class="footer">
        <div class="hero is-info has-text-centered">
          <div class="hero-body">
            Vytvořeno Františkem Kmječem
            &nbsp;
            <a href="https://github.com/fkmjec">
              github
            </a>
            &nbsp;
            <a href="https://twitter.com/fkmjec">
              twitter
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
